@inherits LayoutComponentBase

<NavMenu/>

<main class="flex-shrink-0">
    <div class="container">
        @Body
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; BZ for Azure workshop</span>
    </div>
</footer>