@page "/administration-panel"
@using Bz.F8t.WebApp.ApiClients.Dtos

<PageTitle>Feet On The Tarmac - Admininistration Panel</PageTitle>

<h3>Admininistration Panel</h3>

Manage competitions

@code {
    private CompetitionDto[]? _competitions;

    protected override async Task OnInitializedAsync()
    {
        //_competitions = await Http.GetFromJsonAsync<CompetitionDto[]>("sample-data/weather.json");
    }
}
